<div  class="dialog-component">
    <section class="form-section">
        <form class="grid-form" [formGroup]="meterHistoryForm">     
            <label class="label" >Date<span>*</span></label>
            <p-calendar class="field form-calendar purple-calendar" formControlName="date" dateFormat="yy-mm-dd" dataType="string" [showIcon]="true"></p-calendar>
    
            <label class="label" >{{ "value" | translate }}<span>*</span></label>
            <p-inputNumber class="field form-inputNumber purple-inputnumber" formControlName="value" type="text"></p-inputNumber>                        
        </form>
    </section>
    <section class="form-required">
        <div>required*</div>
    </section>
    <app-form-status [validity]= "meterHistoryForm.valid" ></app-form-status>
    <div>
        <button  pButton label='{{ "cancel" | translate }}' icon="pi pi-times" class="p-button-text purple-button-text" (click)="cancelDialog()"></button>
        <button [disabled]="!meterHistoryForm.valid"  pButton label='{{ "save" | translate }}' icon="pi pi-check" class="p-button-text purple-button-text" (click)="saveDialog()"></button>
    </div>
    <!--Dialogs-->
    <p-confirmDialog class="purple-confirmdialog" key="cancelDialog" header="Cancel operation?" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <p-confirmDialog class="purple-confirmdialog" key="saveDialog" header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
</div>
