@import '../constants/index';

button.purple-button{
    border: 1px solid #{$secondary-color};
    background-color: #{$primary-color};

    &:enabled:hover{
        background-color: #{$hover-color};           
    }

    &:focus{
        box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #{$box-shadow-color}, 0 1px 2px 0 black;
    }
}

button.purple-button-text.p-button.p-button-text{
    color: #{$primary-color};

    &:enabled:hover{
        color: #{$hover-color};
    }

    &:focus{
        box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #{$box-shadow-color}, 0 1px 2px 0 black;
    }
}

p-button.purple-button-icon{

    button.p-button{
        border: 1px solid #{$secondary-color};
        background-color: #{$primary-color};

        &:enabled:hover{
            background-color: #{$hover-color};           
        }

        &:focus{
            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #{$box-shadow-color}, 0 1px 2px 0 black;
        }
    }
    
}

p-togglebutton.purple-togglebutton{

    div.p-togglebutton.p-button.p-highlight{
        border: 1px solid #{$secondary-color};
        background-color: #{$primary-color};

        &:enabled:hover{
            background-color: #{$hover-color};           
        }

        &:focus{
            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #{$box-shadow-color}, 0 1px 2px 0 black;
        }
    }     
}

button.purple-gradient-button{
    border: none;
    @include secondary-linear-gradient;
    &:enabled:hover{
        @include hover-secondary-linear-gradient;     
    }

    &:focus{
        box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #{$box-shadow-color}, 0 1px 2px 0 black;
    }
}

/*
button.p-button{
    transition: background-image .3s ease-out;
}
*/