@import '../constants/index';

p-calendar.form-calendar{
    span.p-calendar{
        min-width: 100%;
    }
}

p-calendar.purple-calendar{
    input.p-inputtext{
        &:enabled{
            &:hover{
                border-color: #{$primary-color};
            }
    
            &:focus{
                box-shadow: 0 0 0 0.2rem #{$box-shadow-color};
                border-color: #{$primary-color};
            }
        }
    }

    button.p-button{
        background-color: #{$primary-color};
        border: 1px solid #{$secondary-color};

        &:enabled:hover{
            background-color: #{$hover-color};           
        }

        &:focus{
            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #{$box-shadow-color}, 0 1px 2px 0 black;
        }
    }

    div.p-datepicker{
        table.p-datepicker-calendar{
            span:focus{                    
                box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #{$box-shadow-color}, 0 1px 2px 0 black;                   
            }

            span.p-highlight{
                color: #5358e4;
                background: #{$hover-item-color};
            }
        }
    }
}