@import '../constants/index';

p-dropdown.form-dropdown{
    .p-dropdown{
        width: 100%;
    }
}

p-dropdown.purple-dropdown{
    div.p-dropdown{
        &:not(.p-disabled){
            &:hover{
                border-color: #{$primary-color};
            }
        }
        &:not(.p-disabled).p-focus{
            box-shadow: 0 0 0 .2rem #{$box-shadow-color};
        }
            
    } 
}

div.p-dropdown-panel{
    ul.p-dropdown-items{
        li.p-dropdown-item.p-highlight{
            color: #5358e4;
            background: #e0e0f270;
        }

        li.p-dropdown-item{
            &:not(.p-highlight){
                &:not(.p-disabled){
                    &:hover{
                        background: #{$hover-item-color};
                    }
                }
            }
        }
    } 
} 