<div  class="wallet-meter-form-container dialog-component">
    <section class="form-section">
        <form [formGroup]="walletMeterForm" class="wallet-meter-form grid-form">           
            <label class="label" >{{ "meter" | translate }}</label>
            <p-dropdown appendTo="body" class="field purple-dropdown"  formControlName="meter" [options]="meters" optionLabel="fullName" optionValue="id" placeholder = '{{ "selectmeter" | translate }}' [showClear]="true"></p-dropdown>
        </form>
    </section>
    <section class="form-required">
        <div>required*</div>
    </section>
    <app-form-status [validity]= "walletMeterForm.valid" ></app-form-status>
    <div>
        <button  pButton label='{{ "cancel" | translate }}' icon="pi pi-times" class="p-button-text purple-button-text" (click)="cancelDialog()"></button>
        <button [disabled]="!walletMeterForm.valid"  pButton label='{{ "save" | translate }}' icon="pi pi-check" class="p-button-text purple-button-text" (click)="saveDialog()"></button>
    </div>
    <!--Dialogs-->
    <p-confirmDialog class="purple-confirmdialog" key="cancelDialog" header="Cancel operation?" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <p-confirmDialog class="purple-confirmdialog" key="saveDialog" header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
</div>