@import '../constants/index';

p-toolbar.toolbar{

    .left-side-toolbar{
        button{
            margin-right: .1rem;
        }
    }

    .right-side-toolbar{
        button{
            margin-left: .1rem;
        }
    }

    button{
        margin: .2rem;
    }
}