@use "/src/assets/styles/constants/index" as *;

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #f8f9fa;
    border-radius: 10px;
    border: 1px;
}

h2{
    margin-top: 100%;
}

.button{
    margin: 0.2em;
}

.chart{
    height: 100%;
    width: 100%;
}

.element-section{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.chart-section {
    width: 100%;
    height: 100%;
}

.table-section{
    width: 100%;
    height: 100%;
}

