<div  class="customer-view view">
    <section class="header-view">
        
    </section>
    <section class="table-toolbar">
        <p-toolbar class="toolbar" styleClass="mb-4 gap-2">
            <ng-template pTemplate="left" class="left-side-toolbar">
                <button  pButton (click)="createFormDialog()" label='{{ "new" | translate }}' icon="pi pi-plus" class="p-button-sm mr-2 purple-button"></button>
            </ng-template>
            <ng-template pTemplate="right" class="right-side-toolbar">
                <button  pButton (click)="onShowBuildingsClick()" label='{{ "showbuilding" | translate }}' [disabled]="selectedCustomer == null" icon="pi pi-building" class="p-button-sm mr-2 purple-button"></button>
            </ng-template>
        </p-toolbar>
    </section>
    <section class="table-container">
        <app-dynamic-table 
            [collection]="customers" 
            [totalRecords]="customersCounter"
            [cols]="cols" 
            [isDeletable]="true"
            [isEditable]="true"
            [isLoading]="isLoading"
            [isPaginable]="true"
            (onEdit)="editFormDialog($event)" 
            (onDelete)="deleteCustomer($event)"
            (onSelect)="onCustomerSelected($event)"
            (onPageChange)="updatePaginationParams($event)">
        </app-dynamic-table>
    </section>
</div>
