section.form-section{
    flex-grow: 2;

    form.grid-form{
        display: grid;
        grid-template-columns: .7fr 1.2fr; 
        gap: 1em 0; 
    
        //justify-items: center; 
        align-items: center; 
    
        .label {
            grid-column: 1 / 2;
            justify-self: stretch;
        }
        .field {
            justify-self: stretch;
            grid-column: 2 / 3;
        }
    }
}





