<div class="dialog-component" >
    <section class="form-section">
        <form class="grid-form" [formGroup]="resetForm">          
            <label class="label" >{{ "email" | translate }}<span>*</span></label>
            <input class="field purple-input" formControlName="email" type="text" pInputText />

            <label class="label" for="password-input" >{{ "password" | translate }}<span>*</span></label>
            <p-password class="field purple-inputpsswd" id ="password-input" formControlName="password" [toggleMask]="true" [feedback]="true"></p-password>
    </form>
    </section>
    <section class="form-required">
        <div>required*</div>
    </section>
    <app-form-status [validity]= "resetForm.valid" ></app-form-status>
    <div>
        <button  pButton label='{{ "cancel" | translate }}' icon="pi pi-times" class="p-button-text purple-button-text" (click)="cancelDialog()"></button>
        <button [disabled]="!resetForm.valid" pButton label='{{ "save" | translate }}' icon="pi pi-check" class="p-button-text purple-button-text" (click)="saveDialog()"></button>
    </div>
    <!--Dialogs-->
    <p-confirmDialog class="purple-confirmdialog" key="cancelDialog" header='{{ "cancelTitle" | translate }}' icon="pi pi-exclamation-triangle" acceptLabel = '{{ "yes" | translate }}' rejectLabel = '{{ "no" | translate }}'></p-confirmDialog>
    <p-confirmDialog class="purple-confirmdialog" key="saveDialog" header='{{ "saveTitle" | translate }}' icon="pi pi-exclamation-triangle" acceptLabel = '{{ "yes" | translate }}' rejectLabel = '{{ "no" | translate }}'></p-confirmDialog>
</div>
