<p-dropdown appendTo="body"  class="purple-dropdown"
  [options]="languagesList" [(ngModel)]="selectedLanguage" optionLabel="name" 
  [showClear]="false" placeholder="Select a language"
  (onChange)="changeLanguage($event.value)">
  <ng-template pTemplate="selectedItem">
    <div class="dropdown-container" *ngIf="selectedLanguage">
      <img [src]="selectedLanguage.imgUrl"/>
      <span>{{ selectedLanguage.name }}</span>
    </div>
  </ng-template>
  <ng-template let-language pTemplate="item">
    <div class="dropdown-container">
      <img [src]="language.imgUrl"/>
      <span>{{ language.name }}</span>
    </div>
  </ng-template>
</p-dropdown>