<div  class="contract-form-container dialog-component">
    <section class="form-section">

        <h4 >{{ "contractinfo" | translate }}</h4>
        <form [formGroup]="contractForm" class="contract-form grid-form">
            <label class="label" >{{ "startdate" | translate }}<span>*</span></label>
            <p-calendar class="field form-calendar purple-calendar" formControlName="startDate" dateFormat="yy-mm-dd" dataType="string" [showIcon]="true"></p-calendar>
                   
            <label class="label" >{{ "enddate" | translate }}<span>*</span></label>
            <p-calendar class="field form-calendar purple-calendar" formControlName="endDate" dateFormat="yy-mm-dd" dataType="string" [showIcon]="true"></p-calendar>
                                 
            <label class="label" >{{ "contracttype" | translate }}<span>*</span></label>
            <p-dropdown appendTo="body" class="field form-dropdown purple-dropdown"  formControlName="contractType" [options]="contractTypes" optionLabel="value" placeholder='{{ "selectcontract" | translate }}' [showClear]="true"></p-dropdown>
    
        </form>

        <h4 >{{ "contractorinfo" | translate }}</h4>
        <form [formGroup]="customerForm" class="contractor-infos grid-form"> 
            <label class="label" >ID</label>
            <div class="p-inputgroup">
                <input class="field purple-input" formControlName="id" type="text" pInputText [readonly] = "isReadOnly()"/>
                <button type="button" pButton icon="pi pi-trash" class = "purple-button" styleClass="p-button-warn" (click) = "onClean()" *ngIf="!isReadOnly()"></button>
                <button type="button" pButton icon="pi pi-search" class = "purple-button" styleClass="p-button-warn" (click) = "onSearch()" *ngIf="!isReadOnly()"></button>    
            </div>
            
            <label class="label" >{{ "name" | translate }}</label>
            <input class="field purple-input" formControlName="name" type="text" pInputText [readonly] = "true"/>
                   
            <label class="label" >{{ "surname" | translate }}</label>
            <input class="field purple-input" formControlName="surname" type="text" pInputText [readonly] = "true"/>
                    
            <label class="label" >{{ "building" | translate }}</label>
            <p-dropdown appendTo="body" class="field form-dropdown purple-dropdown"  formControlName="building" [options]="buildings" optionLabel="fullAdress" placeholder='{{ "selectbuilding" | translate }}' [showClear]="true"></p-dropdown>    
        </form>
    </section>
    <section class="form-required">
        <div>required*</div>
    </section>
    <section class="form-validation">
        <app-form-status [validity]= "contractForm.valid && customerForm.valid" ></app-form-status>
    </section>
    <div>
        <button  pButton label='{{ "cancel" | translate }}' icon="pi pi-times" class="p-button-text purple-button-text" (click)="cancelDialog()"></button>
        <button [disabled]="!contractForm.valid"  pButton label='{{ "save" | translate }}' icon="pi pi-check" class="p-button-text purple-button-text" (click)="saveDialog()"></button>
    </div>
    <!--Dialogs-->
    <p-confirmDialog class="purple-confirmdialog" key="cancelDialog" header="Cancel operation?" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <p-confirmDialog class="purple-confirmdialog" key="saveDialog" header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
</div>
