<section class="login-container">
    <div class="upper-band">
        <div class="brand-container">
            <img src="/assets/images/smol_logo.png" class="brand-logo" />
            <span class="brand-name">Energo Sphere</span>
        </div>
        <div class ="options-container">
            <app-language-selector></app-language-selector>
        </div>
    </div>
    <div class="content-container">
        <router-outlet></router-outlet>
    </div>
    <div class="footer">

    </div>
</section>
