<div  class = "view">
    <p-toolbar class="toolbar" styleClass="mb-4 gap-2" *ngIf="isLoad">
        <ng-template pTemplate="right" class="right-side-toolbar">
            <button  pButton  (click) = "showSeven()" icon="pi pi-info-circle" class="p-button-sm button purple-button" label = "{{ 'show7' | translate }}"></button>
            <button  pButton  (click) = "showMonth()" icon="pi pi-info-circle" class="p-button-sm button purple-button" label = "{{ 'showMonth' | translate }}"></button>
            <button  pButton  (click) = "showYear()" icon="pi pi-info-circle" class="p-button-sm button purple-button" label = "{{ 'showYear' | translate }}"></button>
        </ng-template>
        <ng-template pTemplate="left" class="left-side-toolbar">
            <p-slideMenu [showTransitionOptions]="'5ms'" [hideTransitionOptions]="'0ms'" #menu [model]="items" [popup]="true"></p-slideMenu>
            <button #btn  type="button" pButton label="{{ 'exportfile' | translate }}" icon="pi pi-file-export" class="p-button-sm button purple-button" (click)="menu.toggle($event)"></button>
            <p-toggleButton class="purple-togglebutton" onLabel="{{ 'showtable' | translate }}" offLabel="{{ 'showchart' | translate }}"  offIcon = "pi pi-chart-pie" onIcon = "pi pi-table" styleClass = "p-button-sm button" [(ngModel)]="checked"></p-toggleButton>
        </ng-template>
    </p-toolbar>
    
    <section class = "card table-container">
        <ng-container *ngIf="isLoad else loading">
            <section class = "element-section">
                <section *ngIf= "checked" class="chart-section">
                    <p-chart class = "chart" type="line" #myChart [data]="basicData" [options]="basicOptions"></p-chart>
                </section>
                
                <section *ngIf= "!checked" class="table-section">
                    <app-dynamic-table 
                        [collection] = "chartTable" 
                        [cols] = "cols" 
                        [isEditable] = false
                        [isDeletable] = false
                        [isLoading]= "!isLoad">
                    </app-dynamic-table>
                </section>
            </section>
        </ng-container>
        
        <ng-template #loading class = "card">
        <div aria-label="Orange and tan hamster running in a metal wheel" role="img" class="wheel-and-hamster center-hamster">
            <div class="wheel"></div>
            <div class="hamster">
                <div class="hamster__body">
                    <div class="hamster__head">
                        <div class="hamster__ear"></div>
                        <div class="hamster__eye"></div>
                        <div class="hamster__nose"></div>
                    </div>
                    <div class="hamster__limb hamster__limb--fr"></div>
                    <div class="hamster__limb hamster__limb--fl"></div>
                    <div class="hamster__limb hamster__limb--br"></div>
                    <div class="hamster__limb hamster__limb--bl"></div>
                    <div class="hamster__tail"></div>
                </div>
            </div>
            <div class="spoke">
            </div>
            <h2>Loading....</h2>  
        </div>
    </ng-template>
    </section>
</div>
