@import '../constants/index';

p-paginator.purple-paginator{
    div.p-paginator{

        button.p-link{
            &:focus{
                box-shadow: 0 0 0 0.2rem #{$box-shadow-color};
            }
        }
        
        span.p-paginator-pages{
            button.p-paginator-page.p-highlight{
                background: #d9daf6;
                border-color: #{$box-shadow-color} ;
                color: #{$primary-color};
            }
        } 

        p-dropdown{
            div.p-dropdown{
                &:not(.p-disabled):hover{
                    border-color: #{$primary-color};
                }

                &:not(.p-disabled).p-focus{
                    box-shadow: 0 0 0 .2rem #{$box-shadow-color};
                }

                div.p-dropdown-panel{
                    ul.p-dropdown-items{
                        li.p-dropdown-item.p-highlight{
                            color: #{$primary-color};
                            background: #d9daf6;
                        }
                    }
                }
            }
        }
    } 
}