<p-sidebar  [(visible)]="display" position="right" styleClass="p-sidebar-md" [transitionOptions]="'200ms'">
    <ng-template pTemplate="header">
        <div class="notification-header">
            <h2>Notifications</h2>
        </div>
    </ng-template>
    <ng-template class="notification-body" pTemplate="body">
        <div *ngFor="let notification of notifications" class="notification {{notification.color}}">
            <div class="notification-icon">
                <i class="icon pi {{notification.icon}}"></i>
            </div>
            <div class="content-body">
                <div class="message-section">
                    <p class="message">{{notification.message}}</p>
                </div>    
                <div class="contact-section">
                    <div class="customer-info"> 
                        <span><b>Customer: </b>{{notification.customerId}} - {{notification.customerName}}</span><br/>       
                    </div>
                    <div class="provider-info">
                        <span><b>Provider: </b>{{notification.providerId}} - {{notification.providerName}}</span><br/>                        
                    </div>
                </div>
                <ng-container *ngIf = "isAdmin()">
                    <div class="action-section" *ngIf="notification.code == 'PEN'">
                        <button pButton type="button" styleClass="p-button-sm" class = "pen-action {{notification.color}}" (click)="markNotificationAsRead(notification)">{{ "markRead" | translate }}<i class="pi {{notifOptions[2].icon}}"></i></button>
                    </div>
                    <div class="action-section" *ngIf="notification.code == 'READ'">
                        <button pButton type="button" styleClass="p-button-sm" class = "read-action {{notification.color}}" (click)="acceptNotification(notification)">{{ "accept" | translate }}<i class="pi {{notifOptions[3].icon}}"></i></button>
                        <button pButton type="button" styleClass="p-button-sm" class = "read-action {{notification.color}}" (click)="rejectNotification(notification)">{{ "reject" | translate }}<i class="pi {{notifOptions[4].icon}}"></i></button>
                    </div>
                    
                </ng-container>    
                <div class="update-date-section">
                    {{formatDate(notification.date)}}
                </div>
            </div>       
        </div>
    </ng-template>
    <!--
    <p-virtualScroller [value]="notifications" scrollHeight="100rem" [itemSize]="180" [lazy]="true" (onLazyLoad)="loadNotificationLazy($event)">
        <ng-template pTemplate="item" let-notification>
            <div class="Message {{notification.color}}">
                <div class="Message-icon">
                    <i class="fa {{notification.icon}}"></i>
                    </div>
                    <div class="Message-body">
                    <p>{{notification.message}}</p>
                    <hr>
                    <p>Customer: {{notification.customerId}}</p>
                    <p>Provider: {{notification.providerId}}</p>
                </div>  
            </div>
        </ng-template>
    </p-virtualScroller>
    -->
    <ng-template pTemplate="footer">
        <p-paginator class="purple-paginator" [rows]="5" [totalRecords]="notificationsCounter" [rowsPerPageOptions]="[5,10,15]" (onPageChange)="paginate($event)"></p-paginator>
        <p-toolbar class="toolbar" styleClass="mb-4 gap-2">
            <ng-template pTemplate="left" class="left-side-toolbar">
                <button  (click) = "createFormDialog()" pButton label='{{ "new" | translate }}' icon="pi pi-plus" class="p-button-sm purple-button"></button>
                <p-button icon="pi pi-sync" styleClass = "p-button-sm" class="purple-button-icon" (onClick) = "refreshData()"></p-button> 
            </ng-template>

            <ng-template pTemplate="right" class="right-side-toolbar">
                <div class = "selectButton">
                    <p-selectButton class="purple-selectbutton" [options]="notifOptions" [(ngModel)]="selectedOption" (onChange)="updateNotifications($event.value)" >
                        <ng-template let-option pTemplate="item" >
                            <i class="pi {{option.icon}}" [pTooltip]='option.tooltip | translate'></i>
                        </ng-template>
                    </p-selectButton>
                </div>
            </ng-template>
        </p-toolbar>
    </ng-template>
    
</p-sidebar> 