<div  class="dialog-component">
    <section class="form-section">
        <form class="grid-form" [formGroup]="meterForm">
        
            <label class="label" >{{ "value" | translate }}<span>*</span></label>
            <p-inputNumber class="field form-inputNumber purple-inputnumber" formControlName="value" type="text"></p-inputNumber>
                
            <label class="label" >{{ "energytype" | translate }}<span>*</span></label>
            <p-dropdown appendTo="body" class="field form-dropdown purple-dropdown" formControlName="energyType" [options]="energies" optionLabel="value" optionValue="id" placeholder = '{{ "selectenergy" | translate }}' [showClear]="true"></p-dropdown>
                
            <label class="label" >{{ "isnumeric" | translate }}<span>*</span></label>
            <p-checkbox class="field purple-checkbox" formControlName="numeric" [binary]="true"></p-checkbox>   
    
            <label class="label" >{{ "open" | translate }}<span>*</span></label>
            <p-checkbox class="field purple-checkbox" formControlName="open" [binary]="true"></p-checkbox>  
        </form>
    </section>
    <section class="form-required">
        <div>required*</div>
    </section>
    <app-form-status [validity]= "meterForm.valid" ></app-form-status>
    <div>
        <button  pButton label='{{ "cancel" | translate }}' icon="pi pi-times" class="p-button-text purple-button-text" (click)="cancelDialog()"></button>
        <button [disabled]="!meterForm.valid"  pButton label='{{ "save" | translate }}' icon="pi pi-check" class="p-button-text purple-button-text" (click)="saveDialog()"></button>
    </div>
    <!--Dialogs-->
    <p-confirmDialog class="purple-confirmdialog" key="cancelDialog" header="Cancel operation?" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <p-confirmDialog class="purple-confirmdialog" key="saveDialog" header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
</div>
