<div class="loader-container" >
    <div class="auth-container">
        <div class="title-div">
            <h2 >{{ title | translate }}</h2> 
        </div>        
        <div class="login-form">
            <div class="f-elem p-float-label float-input">
                <input id="user-input" class="purple-input" type="text" pInputText [(ngModel)]="usernameInput"> 
                <label for="user-input" >{{ labelIdInput | translate }}</label>
            </div>
            
            <div class="f-elem p-float-label float-input">
                <p-password id ="password-input" class="purple-inputpsswd" [(ngModel)]="passwdInput" [toggleMask]="true" [feedback]="false"></p-password>
                <label for="password-input" >{{ labelPasswdInput | translate }}</label>
            </div>
            <div *ngIf="loginError">
                <span class = "error-text" >
                    {{ "credential" | translate }}
                </span>
            </div>
        </div>
        <div class="btn-div">
            <button pButton type="button" styleClass="p-button-sm" class="btn-signin purple-button" (click)="onLoginClick()" (disabled)="isLoading">
                <div *ngIf="!isLoading">
                    {{ "login" | translate }}<i class="pi pi-sign-in btn-icon"></i> 
                </div>
                <div class="dots-7" *ngIf="isLoading"></div>
            </button>
            <button pButton type="button" styleClass="p-button-sm" class="btn-create p-button-text sm-label purple-button-text" (click)="createFormDialog()" >{{ "createcustomer" | translate }}<i class="pi btn-icon"></i></button>  
            <button pButton type="button" styleClass="p-button-sm" class="btn-reset-pwd p-button-text sm-label purple-button-text" (click)="resetFormDialog()" >{{ "resetpwd" | translate }}<i class="pi btn-icon"></i></button> 
        </div>
    </div>
</div>