    <section class="user-card" >
        <div class="header">
            <div class="user-avatar">
                <i class="notification-icon"></i>
                <p-avatar label={{user.name.charAt(0)}} styleClass="mr-2" size="large" shape="circle"></p-avatar>
            </div>
            <div class="user-infos">  
                <div class="user-info-row">
                    <i class="pi pi-user"></i>
                    <span class="user-name">{{user.name}}</span> 
                </div>
                <div class="user-info-row">
                    <i class="pi pi-shield"></i>
                    <span class="role" >{{ user.role | translate }}</span>
                </div>                                
                
            </div>

        </div>
        <div class = "actions">
            <app-language-selector></app-language-selector>
            <span class = "notification">
                <button pButton type="button" (click)="changeDisplay()" class="mr-2 purple-gradient-button" icon="pi pi-inbox"></button>
            </span>
        </div>
        <div class="actions">
            <a class="btn" (click)="onSignOut()" ><i class="pi pi-sign-out"></i > {{ "signout" | translate }}</a>
        </div>
    </section>
    <app-notification (myEvent)="changeDisplay()"></app-notification>

